p,
table,
ul {
  font-family: Candara;
}
ul {
  line-height: 150%;
}
li {
  margin-bottom: 5px;
  font-size: 15px;
}
body {
  background-color: white;
}
td {
  vertical-align: top;
}

img {
  border-radius: 20%;
}
th, td {
  text-align: left;
  font-size: 15px;
  vertical-align: top;
}
#divBody{
  width: 87%;
  border: 2px black solid;
  padding: 20px;
  margin: 10px;
}
body{
    align-content: center;
}